# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore dist or build directories (if you’re using a build system)
dist
build

# Ignore any other unnecessary files
.DS_Store
.idea
*.md

uploads/
